<script src="{{url_for('static', filename = 'js/lib/jquery-3.3.1.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lib/popper.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lib/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lib/jquery.smoothscroll.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lib/illbeback.js')}}"></script>
<script src="{{url_for('static', filename = 'js/lib/wow.min.js')}}"></script>
