<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Delete {{restaurant.name}}</title>
    {% include 'partials/style-links.html'%}
  </head>
  <body>

    <div class="container mt-3">
      <header class="page-header">
        <h1>Are you sure you want to delete {{restaurant.name}}</h1>
      </header>

      <div class="delete animated bounce delay-1s">
        <i class="ion-ios-trash"></i>
        <p>This action is not reversible</p>
      </div>
      <form class="" action="{{url_for('deleteRestaurant', restaurant_id = restaurant_id)}}" method="post">
        <div class="form-row justify-content-center">
          <div class="col-4">
            <a class="form-control btn btn-dark" href="{{url_for('showRestaurants')}}">Cancel</a>
          </div>
          <div class="col-4">
            <input class="form-control btn btn-danger" type="submit" value="Delete">
          </div>
        </div>
      </form>

    </div>

    {% include 'partials/footer.html' %}

    {% include 'partials/libraries-js.html'%}
  </body>
</html>
