<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit {{item.name}} in {{restaurant.name}}</title>
      {% include 'partials/style-links.html'%}
  </head>
  <body>


    <div class="container mt-3">

      <header class="page-header">
        <h1>{{restaurant.name}}</h1>
        <h2>Edit {{item.name}}</h2>
      </header>

      <form class="" action="{{url_for('editMenuItem',
      restaurant_id = restaurant.id, item_id = item.id)}}" method="post">

      <div class="form-group">

        <div class="form-row mt-2">
          <div class="form-group col-sm-4">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name"
              value="{{item.name}}">
          </div>
          <div class="form-group col-sm-4">
            <label for="price">Price</label>
            <input class="form-control" type="number" min="0.00" step="0.01" name="price"
              value="{{item.price}}">
          </div>
          <div class="form-group col-sm-4">
            <label for="course">Course</label>
            <select class="form-control" name="course">
              <option value="amusebouche">Amuse-bouche</option>
              <option value="dessert">Dessert</option>
              <option value="entree">Entrée</option>
              <option value="main">Main Course</option>
              <option value="side">Side Dish</option>
              <option value="soup">Soup</option>
            </select>
          </div>
        </div>

        <label for="description">Description</label>
        <textarea class="form-control" name="description"
          rows="8">{{item.description}}</textarea>
        <div class="mt-3">
          <label for="picture">Picture Link</label>
          <input class="form-control" type="text" name="picture"
            value="{{item.picture}}">
        </div>

        <div class="form-row justify-content-between mt-4">
          <div class="col-4">
            <a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}"
            class="btn btn-primary w-100">CANCEL</a>
          </div>
          <div class="col-4">
            <input class="btn btn-edit w-100" type="submit" value="EDIT">
          </div>
        </div>
      </form>



      </div>
    </div>


    <script>
      var course = '{{item["course"]}}';
      var courseSel = document.querySelector('[name="course"]');
      courseSel.value = course;
    </script>
  </body>
</html>
