<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Restaurants App</title>
    {% include 'partials/style-links.html'%}
  </head>
  <body>
    {% include 'partials/flash.html'%}
    {% include 'partials/login-logout.html'%}

      </div>
      <div class="container">
        <header class="page-header">
          <h1>Where you wanna dine?</h1>
          <a href="{{url_for('newRestaurant')}}">Add a new restaurant</a>
        </header>

        <div class="row">
          <div class="col-md-5">
            <fieldset class="mb-3">
              <legend>Your Locations</legend>
              <div class="scrollable">
                {% for restaurant in restaurants %}
                <div class="restaurant-container">
                  <p>{{restaurant.name}}<p>
                    <a href="#" data-lat="{{restaurant.lat}}"
                    data-lon="{{restaurant.lon}}"
                    data-name="{{restaurant.name}}"
                    class="show-on-map"
                    >
                    View on map
                  </a>
                </div>

                <div class="restaurant-controls">
                  <div class="float-right">
                    <a class="btn btn-sm btn-dark control"
                    href="{{url_for('showMenu', restaurant_id=restaurant.id)}}"
                    role="button">
                    Menu
                  </a>
                  </div>
                  {% if user.id == restaurant.user_id%}
                    <div class="float-right">
                      <a class="btn btn-sm btn-edit control"
                        href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}"
                        role="button">
                        Edit
                      </a>
                    </div>
                    <div class="float-right">
                        <a class="btn btn-sm btn-danger control"
                        href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}"
                        role="button">
                        Delete
                      </a>
                    </div>
                  {% endif %}
              </div>

          {% endfor %}

              </div>
            </fieldset>
          </div>
        <div class="col-md-7 mb-3">
          <div id="map"></div>
        </div>

        </div>
      </div>

    {% include 'partials/footer.html' %}

    {% include 'partials/libraries-js.html'%}
    <script src="{{url_for('static', filename = 'js/map-code.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<YOUR-KEY>g&callback=initMap"
    async defer></script>
  </body>
</html>
