html, body{
  height: 100%;
  color: rgb(93, 93, 93);
}

body {
  background: #2d2d2d;
  background-image: url('../img/fire.png');
  background-image: url('../img/fire.png'), linear-gradient(135deg, #131313 0%,#2c2c2c 49%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
  background-position: bottom;
  background-size: auto;
  background-repeat: no-repeat;
}

header{
  text-align: center;
}

header h1{
  font-weight: 200;
}

footer{
  color: rgb(212, 212, 212);
}

fieldset{
  border: 1px solid;
  padding: 7px;
  border-radius: 5px;
  height: 407px;
  padding-top: 10px;
}

legend{
  width: auto;
  font-size: 1rem;
}

.page-header{
  margin-bottom: 7%;
}

.scrollable{
  height: 90%;
  overflow: auto;
}

.restaurant-container{
  background: #616369;
  border: 1px solid #989898;
  border-radius: 5px;
  height: 70px;
  padding: 10px;
  font-size: 1.1rem;
  color: white;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 15px -2px rgba(255,255,255,1);
  box-shadow: 0px 0px 15px -2px rgba(255,255,255,1);
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.restaurant-container p{
  margin-bottom: 0.5rem;
}

.restaurant-controls{
  margin-top: -15px;
  margin-bottom: 60px;
  display: none;
  transition: all 0.5s ease-in-out;
}

.control{
  width: 60px;
}

.btn-edit{
  color: #212529;
  background-color: #ea8605;
  border-color: #c76503;
}

.btn-edit:hover{
  color: #212529;
  background-color: #eb9c05;
  border-color: #eb9c05;
}

.restaurant-container:hover + .restaurant-controls{
  display: block;
}

.restaurant-controls:hover{
  display: block;
}

.btn-blue{
  background-color: #013975;
  border-color: #013975;
}

.delete{
  color: rgb(191, 2, 1);
  text-align: center;
}

.delete i{
  font-size: 200px;
}

.menu-container{
  padding: 10px;
  background: rgba(45, 44, 44, 0.7);
  color: black;
  border-radius: 5px;
}

.menu-card{
  border: 1px solid rgba(22, 22, 22, 1);
  border-radius: 5px;
  background: rgb(79, 79, 79);
  color: rgb(255, 255, 255);
  padding: 5px;
  margin-bottom: 5px;
}

.menu-card img{
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.menu-title{
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 300;
}

.menu-price{
  font-size: 1.3rem;
}

.menu-description{
  font-weight: 200;
}

.navigation{
  padding: 0;
  margin-top:10%;
}

.btn-nav{
  background: rgba(70, 70, 70, 0.8);
  color: rgba(0, 0, 0, 1);
  border-radius: 0 5px 5px 0;
  border: 1px solid rgb(34, 34, 34);
  padding-right: 0;
}

.btn-nav:hover{
  color: rgb(255, 255, 255);
  background: rgb(40, 40, 40);
  font-weight: 500;
}


#map {
  height: 400px;
  border-radius: 5px;
  margin-bottom: 5%;
}
